<html>
<meta charset="UTF-8">
<title>ONERP</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load static %}
{% load mathfilters %}
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.css' %}">
<link rel="stylesheet" href="{% static 'css/ONERP.css' %}">
<style>
    table{
        width: 100%;
    }
    .container {
        font-size: {{ setting.text_size|floatformat }}px;
    }

    td {
        font-size: {{ setting.text_size|floatformat }}px;
    }

    div.header {
        display: block;
        text-align: center;
        position: running(header);
    }

    div.footer {
        display: block;
        text-align: center;
        position: running(footer);
        bottom: 0;
    }

    @page {
        @top-center {
            content: element(header);
        }
    }

    @page {
        @bottom-center {
            content: element(footer)
        }
    }

    td {
        border: 1px solid black !important;
    }

    @media print {
        td {
            border: 1px solid black !important;
        }
    }

    @media print {

        @page {
            size: 8cm;
            margin: 5mm 5mm 5mm 5mm;
        }
        table{
            width: 100%;
        }
    }

</style>
<body>
<div class="col-lg-12">
    <button type="button" onclick="window.close();" width="100%" class="dont-print">
        <i class="fa fa-times"></i> إغلاق

    </button>
    <button type="button" onclick="window.close();" width="100%" class="dont-print">
        <i class="fa fa-print"></i> طباعة

    </button>
</div>
<div class="header col-lg-12">
    <div class="row">
        <!-- Right -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 center-text">
            {% if setting.logo_location == 1 %}
                {% if setting.logo %}
                    <img src="{{ setting.logo.url }}" width="{{ setting.logo_width|floatformat }}%">
                {% else %}
                    <h5>{{ setting.name }}</h5>
                {% endif %}
            {% else %}
                {% if setting.footer1_location == 1 %}
                    {% if setting.footer1 %}
                        {{ setting.footer1|linebreaks }}
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <!-- Center -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 center-text">
            <div class="row">
                <div class="col-lg-12">
                    {{ order }}
                </div>
                <div class="col-lg-12">
                    <img src="{% url 'Barcode:single_generator' order.id %}">
                </div>
            </div>
        </div>
        <!-- Left -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 center-text">
            {% if setting.logo_location == 2 %}
                {% if setting.logo %}
                    <img src="{{ setting.logo.url }}" width="{{ setting.logo_width|floatformat }}%">
                {% else %}
                    <h5>{{ setting.name }}</h5>
                {% endif %}
            {% else %}
                {% if setting.footer1_location == 1 %}
                    {% if setting.footer1 %}
                        {{ setting.footer1|linebreaks }}
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<div class="col-lg-12">
    <table class="table">
        <tr>
            <td>التاريخ</td>
            <td>{{ order.date }}</td>
        </tr>
        <tr>
            <td>الاسم</td>
            <td>{{ order.customer }}</td>
        </tr>
        <tr>
        <td>كاشير رقم</td>
            <td>{{ order.shift.cashier_no }}</td>
        </tr>
    </table>
    <table class="table">
        <thead>
            <td>#</td>
            <th>اسم المنتج</th>
            <th class="text-center"> الكمية</th>
            <th class="text-center">سعر المنتج</th>
            <th class="text-center">الإجمالي</th>
        </thead>
        <tbody>
            {% for x in order_items %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ x.product.name }}</td>
                    <td class="text-center">{{ x.quantity }}</td>
                    <td class="text-center">{{ x.price }}</td>
                    <td class="text-center">{{ x.sub_total }}</td>
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table table-borderless">
        <tfoot>
       
            {% if order.discount_value != 0 %}
            <tr>
                <td>الخصم</td>
                <td >{{ order.discount_value }}</td>
            </tr>
            <tr>
                <td>الإجمالي بعد الخصم</td>
                <td>{{ order.total|sub:order.discount_value }}</td>
            </tr>
            {% else %}
            <tr>
                <td>الإجمالي</td>
                <td>{{ order.total }}</td>
            </tr>
            {% endif %}
            
            {% if order.delivery_cost > 0 %}
            <tr>
                <td>تكلفة التوصيل</td>
                <td>{{ order.delivery_cost }}</td>
            </tr>
            {% endif %}

            <tr>
                <td> الإجمالي مع الضريبة والتوصيل</td>
                <td>{{ order.total|add:order.taxes|add:order.delivery_cost|sub:order.discount_value }}</td>
            </tr>
            
        </tfoot>
    </table>
</div>
{% if setting.print_invoice_comments %}
    {% if invoice.comment %}
        <div class="col-lg-12">
            {{ invoice.comment|linebreaks }}
        </div>
    {% endif %}
{% endif %}
<div class="col-lg-12 footer">
    <div class="row">
        {% if setting.footer1_location == 2 %}
            {% if setting.footer1 %}
                <div class="col-lg-12">
                    {{ setting.footer1|linebreaks }}
                </div>
            {% endif %}
        {% endif %}
        <div class="col-lg-12" style=" text-align: right;">
            <small class="small">
                تصميم وبرمجة شركة اون لينك لخدمات تكنولوجيا المعلومات
                01066440666
            </small>
        </div>
    </div>
</div>
<script>
    window.print();
</script>
</body>
</html>