{% extends 'base.html' %}
{% block body %}

{% if perms.Information.add_information %}
<div class="col-lg-12">
    <a href="{% url 'Information:InformationCreate' %}" class="btn btn-success btn-block" target="_blank">
        <i class="fa fa-plus-circle"></i>
            إضافة
    </a>
</div>
{% endif %}

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-th-list"></i>
                قائمة المعلومات الإدارية
            {% if perms.Information.download_information_data %}
            <a href="{% url 'Information:InformationXls' %}" class="btn btn-outline-danger btn-sm" style="float: left;"> 
                <i class="fas fa-file-excel"></i>
                    تنزيل البيانات
            </a>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>العنوان</td>
                            <td class="text-center">بحث</td>
                        </tr>
                    </thead>
                    
                    
                    <tbody>
                        <tr>
                            <form method="get" action="#">
                                <td>
                                    <input type="number" class="form-control input-xs" name="id">
                                </td>
                                <td>
                                    <input type="text" class="form-control input-xs" name="title">
                                </td>
                                
                                <td>
                                    <button class="btn btn-block bg-primary col-md-7 float-left">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </td>
                            </form>
                        </tr>
                        {% for x in object_list %}
                            <tr>
                                <td>{{ x.id }}</td>
                                <td>{{ x.title }}</td>
                                <td class="text-left">
                                    <div class="btn-group">
                                        {% if perms.Information.view_information %}
                                        <a href="{% url 'Information:InformationCard' x.id %}" class="btn btn-success" title="عرض">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        {% endif %}
                                        {% if perms.Information.edit_information %}
                                        <a href="{% url 'Information:InformationUpdate' x.id %}" class="btn btn-warning" title="تعديل" >
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        {% endif %}
                                        {% if perms.Information.delete_information %}
                                        <a href="{% url 'Information:DeleteInformation' x.id %}" class="btn btn-danger" title="حذف" >
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        {% endif %}
                                    </div>
                                </td>
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if is_paginated %}
            <div class="card-footer">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link"
                                href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                            </li>
                        {% else %}
                            <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
                        {% endif %}

                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                                </li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                            </li>
                        {% else %}
                            <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}